.footer-container {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../../../images/footerBg.jpg);
  background-size: cover;
  background-position: center;
}
.copyright {
  background-color: black;
}
