.sidebar {
  background-image: linear-gradient(40deg, #19d3ae, #0fcfec);
  position: fixed;
}
.sidebar Link {
  margin-bottom: 2em;
}
.sidebar li {
  margin-bottom: 2em;
}
.sidebar a {
  text-decoration: none;
}
.sidebar li:hover span {
  display: inline-block;
  transform: translate(5px);
}
.sidebar svg {
  margin-right: 5px;
}

@media screen and (max-width: 400px) {
  .sidebar {
    position: relative;
    max-height: 300px;
    width: 100%;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
}
