.text-brand {
  color: #319ce3;
  text-transform: uppercase;
}
.btn-brand {
  background-color: #319ce3;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.btn-brand:hover {
  background-color: rgb(49, 156, 227, 0.7);
  color: white;
}
